@charset "utf-8";

.ar-main {
  margin: 20px;
}

.ar-areabox {
  padding-bottom: 40px;
}

/*  */
/*  */

.ar-title {
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
}

.ar-title-sub {
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.ar-contents-number {
  color: #6d6562;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  padding: 0 5px;
  border-left: 4px solid #c0bcbb;
  margin: 5px 0;
}

/*  */
/*  */

.ar-subtitle {
  color: #668BC7;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2;
}

/* ガイドライン */
.ar-subtitle-black {
   color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}
.guideline-border {
  margin: 10px 0;
  border: 1px solid #231815;
}
.guideline-maintext {
  color: #231815;
  font-weight: 600;
  font-size: 12px;
  padding: 10px 0 0 0;
  line-height: 1.8;
}

.ar-subtitle-copy {
  color: #668BC7;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  margin: 3px 0;
}

.ar-maintext {
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  padding: 10px 0 0 0;
}

.ar-maintext-sub {
  color: #6d6562;
  font-weight: 600;
  font-size: 12px;
  margin: 5px 0;
}

.ar-notetext {
  color: #6d6562;
  font-size: 10px;
  margin: 10px 0;
}

/*  */
/*  */
/* 表示非表示開閉エリア */
input[type="checkbox"].ar-on-off {
  opacity: 0;
  display: none;
}

.open-explanation {
  margin: 0 0px 20px 0;
  padding: 5px;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  color: #231815;
  background-color: #e3e3e3;
  text-align: center;
  border-radius: 100px;

}

エフェクト .open-explanation:active {
  box-shadow: 0 0 0 0;
}

.open-explanation:hover {
  background-color: #e6e243;
}

/*ラベルに表示するテキスト*/
.open-explanation::after {
  content: '体験の流れ';
}

.ar-on-off:checked~.open-explanation::after {
  content: '閉じる';
}

.ar-experience-area {
  height: 0;
  opacity: 0;
  display: none;
  /* visibility: visible; */
  /*内容を非表示、リンクを無効化*/
  transition: all 1s;
}

/*「開く」をタップで表示*/
.ar-on-off:checked~.ar-experience-area {
  height: auto;
  opacity: 1;
  display: block;
  /* visibility: visible; */
  /*内容を表示、リンクを有効化*/
}

/*  */
/*  */
.ar-explanation-title {
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  padding: 0 10px;
  text-align: center;
}

.ar-experience-area {
  margin: 0px;
}

.ar-experience-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 20px 0;
}

.ar-experience-number {
  color: #668BC7;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
}

.ar-experience-title {
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  padding-top: 3px;
}

.ar-explanation-btn {
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  margin: 10px 0px;
  padding: 5px;
  text-align: center;
  background-color: #e6e243;
  border-radius: 100px;
}

.ar-explanation-btn:hover {
  color: #e3e3e3;
  background-color: #231815;
}

/* ガイド内ボタン */
.ar-explanation-btn-in {
  color: #e3e3e3;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  margin: 10px 5px 0 5px;
  padding: 5px;
  text-align: center;
  background-color: #6d6562;
  border-radius: 100px;

}

.ar-explanation-btn-in-pc {
  color: #e3e3e3;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  margin: 10px 5px 0 5px;
  padding: 5px;
  text-align: center;
  background-color: #6d6562;
  border-radius: 100px;
  display: none;
}

.ar-explanation-btn-in-sp {
  color: #e3e3e3;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  margin: 10px 5px 0 5px;
  padding: 5px;
  text-align: center;
  background-color: #6d6562;
  border-radius: 100px;
  display: block;
}

.ar-explanation-btn-in:hover {
  color: #e3e3e3;
  background-color: #231815;
}

.ar-explanation-btn-in-pc:hover {
  color: #e3e3e3;
  background-color: #231815;
}

.ar-explanation-btn-in-sp:hover {
  color: #e3e3e3;
  background-color: #231815;
}


/*  */
/* 到達時間表示 */
.finish-time-text {
  color: #668BC7;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  padding-top: 3px;
  text-align: center;
}

#finish-time-counter {
  color: #668BC7;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  padding-top: 3px;
  text-align: center;
}

/*  */
/* SNSシェアボタン */
.ar-finish-share {
  display: flex;
  margin: 15px 0 0 0;
  gap: 10px;
  vertical-align: middle;
}

.modal-text-btn {
  padding: 0px 0 0px 0;
  text-align: center;
}

.copy-hidden-ar-finish {
  /* リンクコピー隠れている部分 */
  display: none;
}

#copyok-ar-finish {
  padding: 10px 0 0 0;
  font-size: 8px;
  font-weight: 800;
  color: #6d6562;
}


@media screen and (min-width: 698px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {
  .ar-explanation-btn-in-pc {
    display: block;
  }
  

  .ar-explanation-btn-in-sp {
    display: none;
  }
}