.body {
  background-color: #ffffff;
}

.container {
  background-color: #fafafa;
}

ul {
  list-style: none;
}

.header {
  background-color: #EFEA3A;
}


.lp-bigtitle {
  font-size: 36px;
  font-weight: 600;
}

.lp-bigsub {
  font-size: 18px;
  padding-top: 20px;
  line-height: 30px;
}

.lp-center-text {
  font-size: 14px;
  text-align: center;
}

.lp-btnlist{
  padding: 30px 0;
}

.lp-btnlist a {
  text-decoration: none;
}

.lp-btnlist a{
  color: #231815;
}

.lp-bigbtn {
  font-size: 20px;
  font-weight: 800;
  text-align: center;

  background: #F5F185;

  padding: 5px 10px;
  margin: 20px 80px ;
  border: 2px solid;
  border-radius: 100px;
}

.lp-heading {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.lp-heading-sub {
  font-size: 12px;
  text-align: center;
}

.lp-smallbtn{
  width: 150px;
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
  display: block;
  
  color: #ffffff;

  background: #231815;
  border-radius: 30px;
}

.lp-contents {
  padding: 50px 30px;
}

.lp-reco {
  margin: 15% 15% 5% 15%;
  padding: 10px 10px 30px 10px;
  text-align: center;
  
  border: 2px solid;
  border-radius: 30px;
}

.lp-recoimg {
  width: 160px;
  margin: 20px;
}

.lp-aboutxr {
  background-color: #F5F185;
  padding: 30px 0;
}

.lp-xrfeature {
  background-color: #F5F185;
  padding: 30px 0;
}

.lp-notes {
  font-size: 8px;
}

/* .lp-17sentence {
  font-size: 17px;
}

.lp-16sentence {
  font-size: 16px;
}

.lp-smallsentence {
  font-size: 13px;
}

.lp-9sentence {
  font-size: 9px;
}

.lp-8sentence {
  font-size: 8px;
}

.lp-7sentence {
  font-size: 7px;
} */



/* デザインC(PC) */
@media screen and (min-width: 1025px) {

  /* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */

  .body {
    background-image: url(../img/pc-bg.png);
    background-size: contain;
    background-attachment: fixed;
  }

  .container {
    margin: auto;
    width: 450px;
    height: auto;
    /*子要素を水平方向の中央に配置する*/
    /* display: flex; */
    justify-content: center;
  }

  /* .child {
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 500px;
    border: 10px dashed #000;
    background-color: antiquewhite;

  } */

}