.body {
  background-color: #ffffff;
}

.container {
  background-color: #fafafa;
}

ul {
  list-style: none;
}

.lp-bigtitle {
  font-size: 36px;
  font-weight: 600;
}

.lp-bigsub {
  font-size: 18px;
}

.lp-center-text {
  font-size: 14px;
  text-align: center;
}

.lp-bigbtn {
  font-size: 18px;
  text-align: center;
}

.lp-heading {
  font-size: 18px;
  text-align: center;
}

.lp-heading-sub {
  font-size: 12px;
  text-align: center;
}

.lp-smallbtn{
  font-size: 12px;
  text-align: center;
}

.lp-reco {
  margin: 0 50px 0 50px;
}

.lp-aboutxr {
  background-color: #F5F185;
}

.lp-xrfeature {
  background-color: #F5F185;
  display: none;
}

/* .lp-17sentence {
  font-size: 17px;
}

.lp-16sentence {
  font-size: 16px;
}

.lp-smallsentence {
  font-size: 13px;
}

.lp-9sentence {
  font-size: 9px;
}

.lp-8sentence {
  font-size: 8px;
}

.lp-7sentence {
  font-size: 7px;
} */



/* デザインC(PC) */
@media screen and (min-width: 1025px) {

  /* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */

  .body {
    background-image: url(../img/pc-bg.png);
    background-size: contain;
  }

  .container {
    margin: auto;
    width: 350px;
    height: auto;
    /*子要素を水平方向の中央に配置する*/
    display: flex;
    justify-content: center;
  }

  .child {
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 500px;
    border: 10px dashed #000;
    background-color: antiquewhite;

  }

}