@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic", "ヒラギノ角ゴ", メイリオ, Meiryo, "MS Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* <uniquifier>: Use a unique and descriptive class name

.noto-sans jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
} */

a {
  text-decoration: none;
}

.header {
  height: 80px;
  display: flex;
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0 5% 0 0;
}

.header-logo img {
  height: 50px;
  width: auto;
  margin: 10px;
}

/* 上に戻るボタン */

.pagetop {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 5%;
  bottom: 3%;
  background: #e6e243;
  border: solid 2px #231815;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  margin-bottom: 5%;
  border-top: 3px solid #231815;
  border-right: 3px solid #231815;
  transform: translateY(20%) rotate(-45deg);
}

.pagetop {
  box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
}

/* .pagetop__arrow{
  position: fixed;
  right: 10%;
  bottom: 4.5%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
} */

/* .pagetop-2{
  height: 65px;
  width: 60px;
  position: fixed;
  right: 4.5%;
  bottom: 1%;

  font-size: 14px;
  text-decoration: none;
  color: #231815;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
} */

/* ハンバーガーメニュー */
.header nav {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.list-nav-header {
  display: flex;
  align-items: center;
  gap: 40px;

}

.list-nav-header li  a {
  color: #231815;
}

.burger {
  width: 50px;
  height: 50px;
  background-image: url(../img/burger-white.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 0 40px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #231815;
  border: 2px solid #231815;
  position: relative;
  z-index: 21;
}
/* .burger:hover{
  background-color: #e6e243;
} */
.burger.is-active {
  background-image: url(../img/close-white.svg);
}

/* メニュー */
.menu {
  color: #231815;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #e6e243;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; 
  display: none;
}
.menu.is-active {
  display: flex;
}

.menu li {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}

.menu-menu {
  font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  margin: 20px;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #231815;
}

.menu-list a{
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

/* フッター */
#footer { 
  height: auto;
  background-color: #e6e243;

  text-align: center;
}

.footer-text-big {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  font-weight: 800;

  padding: 20px 0 5px 0;
  margin: 0 30%;
  border-bottom: 4px solid #231815;
}

.footer-menu {
  padding: 20px 0; 
}

.footer-cate {
  padding-bottom: 20px;
}

#footer a {
  text-decoration: none;
  color: #231815;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.footer-btn {
  background: #fefefd;
  padding: 1% 25%;
  border: 2px solid #231815;
  border-radius: 100px;
}

footer img {
  width: 50px;
  padding:0 0 20px 0;
}

@media screen and (min-width: 1025px) {
  .pagetop {
    display: none;
  }

}