.body {
  background-color: #fafafa;
}

.container {
  background-color: #fafafa;
}

ul {
  list-style: none;
}




/* デザインC(PC) */
@media screen and (min-width: 1025px) {

  /* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */

  .body {
    background-image: url(../img/pc-bg.png);
    background-size: contain;
    background-attachment: fixed;
  }

  .container {
    margin: auto;
    width: 450px;
    height: auto;
    /*子要素を水平方向の中央に配置する*/
    /* display: flex; */
    justify-content: center;
  }
}