.body {
  background-color: #fafafa;
}

.container {
  background-color: #fafafa;
}

ul {
  list-style: none;
}


/* カテゴリ選択 */
.main-btn-area {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.main-cate-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: fit-content(130px) ;
}
.map-cate-btn {
  position: relative;
}
.main-cate-list a {
  display: inline-flex;
  padding: 0.5em 1.5em;
  background: #231815;
  color: #fafafa;
  border: 0;
  border-radius: 100px;
}

.main-cate-list a::before {
  transform: rotate(135deg);
  width: 7px;
  height: 7px;
  margin-right: 20px;
  display: flex;
  bottom: -4px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  content: '';
  position: relative;
}
.main-cate-list p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/* カテゴリトップ */
.map-category {
  text-align: center;
  margin: 20px 30%;
}
.map-category p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 900;
  background: #231815;
  color: #fafafa;
  border-radius: 100px;
  padding: 5px 30px;
}

/* ボックス */
.use-box {
  margin: 20px;
  padding: 15px 35px 10px 20px;
  background: #EDEA86;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.use-box-num {
  padding: 0.2em 0.5em 0.5em 0.5em;
  width: 40px;
  height: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 700;
  background: #231815;
  color: #fafafa;
  border-radius: 50%;
}
.use-text-area {
  margin: 1px;
  padding: 0 0 0 15px;
  width: 400px;
}
.use-text-tit {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.7;

}
.use-text-nor {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 15px 0;
}
.use-text-area img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #231815;
}


@media (min-width: 568px){
  .map-category {
    margin: 20px 38%;
  }
  .use-box {
    margin: 20px 20%;
  }
}



/* デザインC(PC) */
@media screen and (min-width: 1025px) {

  /* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */

  .body {
    background-image: url(../img/pc-bg.png);
    background-size: contain;
    background-attachment: fixed;
  }

  .container {
    margin: auto;
    width: 450px;
    height: auto;
    /*子要素を水平方向の中央に配置する*/
    /* display: flex; */
    justify-content: center;
  }

  .map-category {
    margin: 40px 25% 20px 25%;
  }

  .use-box {
    margin: 20px;
  }

}